@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    outline-color: transparent;
}

#haha:focus {
    border: none;
    box-shadow: none;
    outline-style: none;
    outline: none !important;
}

#haha {
    outline: none !important;
    outline-color: transparent;
}

.rank-btn-profile {
    @apply bg-yellow-300 border-[5px] absolute rounded-full w-12 h-12 flex justify-center items-center top-0 right-0 z-[9];
}

.google-search-input:active,
.google-search-input:focus-visible,
.google-search-input:focus {
    outline: none !important;
    outline-color: white !important;
    border: none !important;
    border-color: transparent !important;
}

.google-search-input {
    outline: none;
    border: none;
}

.rotation-handle {
    padding: 3px 4px;
    display: table;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    background-color: blue;
    border-radius: 10rem;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    color: #fff;
    cursor: move;
}